<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke test" verbose="1" data-provider-thread-count="1" parallel="false">
	<test name="JS Errors">
		<parameter name="path" value="/"/>
		<classes>
			<class name="about.JS_error_about"/>	
			<class name="clients.JS_error_clients"/>
			<class name="clients.JS_error_detail_clients"/>
			<class name="services.JS_error__services"/>
			<class name="contact.JS_error_contact"/>
			<class name="blog.JS_error_blog"/>	
			<class name="blog.JS_error_post"/>
		</classes>
	</test>			

	
	
</suite>


	
