<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests_suite" verbose="1" data-provider-thread-count="1" parallel="false">
	<test name="tests">
		<classes>
			
		    <class name="blog.Captcha_disable"/>
		    <class name="blog.Comment"/>
		    <class name="blog.Captche_enable"/>
		   
		</classes>
	</test>
</suite>


	
